
<h1>Lista de Pessoas</h1>
<button (click)="abrirModal(abc)" type="button" class="btn btn-success">Adicionar</button>
<table class="table caption-top">
    <thead>
      <tr >
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of lista">
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.idade}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #abc let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Cadastrar nova pessoa</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
          <app-pessoasdetails (retorno)="listAdd($event)" ></app-pessoasdetails>        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>


  <style>
    h1 {
      display: flex;
      text-decoration: underline;
      justify-content: center;

      padding-bottom: 20px;
    }

    table {
      border: 0.1px solid rgba(0, 0, 0, 0.212);
      width: 50%;
      margin-left: 400px;
    }

    .btn {
      margin-left: 400px;
      margin-bottom: 20px;
    }
  </style>

